<html>
    <head>
	<title>polymer responsive layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	<script src="../../../../javascript/main.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="bower_components/polymer/polymer.html">
	<link rel="import" href="bower_components/iron-icons/iron-icons.html">
	<link rel="import" 
              href="bower_components/paper-header-panel/paper-header-panel.html">
	<link rel="import" 
              href="bower_components/paper-toolbar/paper-toolbar.html">
	<link rel="import" 
              href="bower_components/iron-flex-layout/iron-flex-layout.html">
	<link rel="import" 
              href="bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" 
              href="bower_components/paper-menu-button/paper-menu-button.html">
	<link rel="import" 
              href="bower_components/paper-menu/paper-menu.html">
	<link rel="import" 
              href="bower_components/paper-item/paper-item.html">
	<link rel="import"
	      href="bower_components/paper-tabs/paper-tabs.html">
	<link rel="import"
	      href="bower_components/paper-toast/paper-toast.html">
	<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
	<link rel="import" href="bower_components/iron-pages/iron-pages.html">
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
	<link rel="import" href="src/app-container.html">
	<link rel="import" href="src/max-list.html">
	<link rel="import" href="src/max-section.html">
	<link rel="import" href="src/max-date-picker.html">
	<link rel="import" href="src/max-login-dialog.html">
	<link rel="import" href="src/max-wait-spinner.html">
	<link rel="import" href="src/max-error-message.html">
	<link rel="import" href="src/max-workflow.html">
	<style>
	 paper-tab{
	     font-size:2.6vh;
	     --paper-tab-content{
		 font-size:2.6vh;
	     }
	</style>
    </head>

    <body class="fullbleed vertical layout">
	<template is="dom-bind" id="apptemplate">
	    <app-container mbo="po" application="po" id="polist"></app-container>
	    <max-login-dialog></max-login-dialog>
	    <max-wait-spinner></max-wait-spinner>
	    <max-error-message></max-error-message>
	    <paper-header-panel class="flex">
		<paper-toolbar class="medium-tall">
		    <!--
			 <paper-icon-button id="navicon"
			 icon="menu"></paper-icon-button>
		       -->
		    <!-- flex class forces span to fill space between icons -->
		    <span class="flex">Demo PO app</span>
		    <!-- icon displays at right because of span class above -->
		    <paper-menu-button>
			<paper-icon-button id="morebutton"
					   icon="menu" class="dropdown-trigger"></paper-icon-button>
			<paper-menu class="dropdown-content">
			    <paper-item on-tap="workflow">Route Workflow</paper-item>
			    <paper-item>Change Status</paper-item>
			</paper-menu>
		    </paper-menu-button>
		    <paper-tabs class="bottom fit" selected="{{selected}}">
			<paper-tab>Search</paper-tab>
			<paper-tab>List</paper-tab>
			<paper-tab>Main</paper-tab>
		    </paper-tabs>
		</paper-toolbar>
		<iron-pages selected="{{selected}}">
		    <max-section container="polist" columns="ponum,status,description,siteid,purchaseagent,vendor,orderdate,totalcost,shipvia" qbe inddetails="1">
			<column-lookup column="shipvia" lookupicon="search" templateid="qbevaluelist"></column-lookup>
			<column-lookup column="status" lookupicon="search" templateid="qbevaluelist"></column-lookup>
			<column-lookup column="siteid" lookupicon="search" templateid="qbesitelist" listcolumns="siteid,description"></column-lookup>
			<column-lookup column="vendor" lookupicon="search" templateid="qbecompanylist" listcolumns="company,name"></column-lookup>
		    </max-section>
		    <max-list container="polist" columns="ponum,status,description" norows="15" inddetails="2" >
			<template>
			    <div>[[data.PONUM]] [[data.DESCRIPTION]]  [[data.STATUS]]</div>
			</template>
		    </max-list>
		    <max-section container="polist" columns="ponum,status,description,siteid,purchaseagent,vendor,orderdate,totalcost,shipvia">
			<column-lookup column="orderdate" lookupicon="today"></column-lookup>
			<column-lookup column="shipvia" lookupicon="search" templateid="valuelist"></column-lookup>
		    </max-section>
		</iron-pages>
	    </paper-header-panel>
	    <max-workflow id="poworkflow" app-container="polist" process-name="POSTATUS"></max-workflow>
	</template>
	<template id="valuelist">
	    <div>{{data.VALUE}} {{data.DESCRIPTION}}</div>
	</template>
	<template id="qbevaluelist">
	    <div>
		<paper-checkbox checked=[[data._CHECKED]]></paper-checkbox> {{data.VALUE}} {{data.DESCRIPTION}}
		
	    </div>
	</template>
	<template id="companylist">
	    <div>{{data.COMPANY}} {{data.NAME}}</div>
	</template>
	<template id="qbecompanylist">
	    <div>
		<paper-checkbox checked=[[data._CHECKED]]></paper-checkbox> {{data.COMPANY}} {{data.NAME}}
		
	    </div>
	</template>
	<template id="sitelist">
	    <div>{{data.SITEID}} {{data.DESCRIPTION}}</div>
	</template>
	<template id="qbesitelist">
	    <div>
		<paper-checkbox checked=[[data._CHECKED]]></paper-checkbox> {{data.SITEID}} {{data.DESCRIPTION}}
		
	    </div>
	</template>
	<template id="personlist">
	    <div>[[data.PERSONID]] [[data.DISPLAYNAME]]</div>
	</template>
	<script>
	 window.addEventListener('WebComponentsReady', function(e) {
	     var app = document.getElementById("apptemplate");
	     app.selected=0;
	     app.workflow = function(){
		 this.$.poworkflow.openWF();
	     }
	     
	 });
	</script>
    </body>
</html>
