<html>
    <head>
	<title>polymer responsive layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	<!--
	<script type="text/javascript" src="cordova.js"></script>
	-->
	<script src="../bower_components/maximoplus-core/main.js"></script>
	<script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="../bower_components/polymer/polymer.html">
	<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
	<link rel="import" 
              href="../bower_components/paper-header-panel/paper-header-panel.html">
	<link rel="import" 
              href="../bower_components/paper-toolbar/paper-toolbar.html">
	<link rel="import" 
              href="../bower_components/iron-flex-layout/iron-flex-layout.html">
	<link rel="import" 
              href="../bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" 
              href="../bower_components/paper-menu-button/paper-menu-button.html">
	<link rel="import" 
              href="../bower_components/paper-menu/paper-menu.html">
	<link rel="import" 
              href="../bower_components/paper-item/paper-item.html">
	<link rel="import"
	      href="../bower_components/paper-tabs/paper-tabs.html">
	<link rel="import"
	      href="../bower_components/paper-toast/paper-toast.html">
	<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
	<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
	<link rel="import" href="src/max-login-dialog.html">
	<link rel="import" href="src/max-wait-spinner.html">
	<link rel="import" href="src/max-error-message.html">
	<style>
	 paper-tab{
	     font-size:20px;
	     --paper-tab-content{
		 font-size:20px;
	     }
	</style>
    </head>

    <body class="fullbleed vertical layout">
	<template is="dom-bind" id="apptemplate">
	   
	    <max-login-dialog></max-login-dialog>
	    <max-wait-spinner></max-wait-spinner>
	    <max-error-message></max-error-message>
	    <paper-header-panel class="flex">
		<paper-toolbar class="medium-tall">
		    <!--
			 <paper-icon-button id="navicon"
			 icon="menu"></paper-icon-button>
		       -->
		    <!-- flex class forces span to fill space between icons -->
		    <span class="flex">Polymer Template</span>
		    <!-- icon displays at right because of span class above -->
		    <paper-menu-button>
			<paper-icon-button id="morebutton"
					   icon="menu" class="dropdown-trigger"></paper-icon-button>
			<paper-menu class="dropdown-content">
			    <paper-item>Action 1</paper-item>
			    <paper-item>Action 2</paper-item>
			</paper-menu>
		    </paper-menu-button>
		    <paper-tabs class="bottom fit" selected="{{selected}}">
			<paper-tab>Search</paper-tab>
			<paper-tab>List</paper-tab>
			<paper-tab>Main</paper-tab>
		    </paper-tabs>
		</paper-toolbar>
		<iron-pages selected="{{selected}}">
		  <div>page1</div>
		  <div>page2</div>
		  <div>page3</div>
		</iron-pages>
	    </paper-header-panel>
	</template>
	<template id="valuelist">
	    <div>{{data.VALUE}} {{data.DESCRIPTION}}</div>
	</template>
	<template id="qbevaluelist">
	    <div>
		<paper-checkbox checked=[[data._CHECKED]]></paper-checkbox> {{data.VALUE}} {{data.DESCRIPTION}}
		
	    </div>
	</template>

	<script>
	 maximoplus.net.globalFunctions.serverRoot = function(){
	     return "http://localhost:8080";
	 }
	 
	 window.addEventListener('WebComponentsReady', function(e) {
	     var app = document.getElementById("apptemplate");
	     app.selected=0;
	 });
	</script>
    </body>
</html>
