<link rel="import" href="../../../polymer/polymer.html">

<dom-module id="polymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'polymer-app',

      properties: {
        prop1: {
          type: String,
          value: 'polymer-app',
        },
      },

    });
  </script>
</dom-module>
