<link rel="import" href="../../polymer/polymer.html">

<dom-module id="app-container">
  <template>
    <div app=[[application]]></div>
    <content></content>
  </template>
  <script>
    Polymer({
    is:'app-container',
    
    properties:{
    application:String,
    mbo:String,
    processname:String
    },

    ready:function(){
    this.maxContainer = new maximoplus.controls.AppContainer(this.mbo, this.application);
    this.maxContainer.wfProcessName = this.processname;
    this.maxContainer.refEl=this;
    }
    });
  </script>
</dom-module>
