<link rel="import" href="../../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../paper-radio-button/paper-radio-button.html">

<dom-module is="max-radio-button">
    <template>
	<div class="radiolabel">[[coltitle]]</div>
	<paper-radio-group id="rgrp">
	    <template is="dom-repeat" items="{{radiobuttons}}">
		<paper-radio-button on-change="radioChange" name="{{item.name}}">{{item.value}}</paper-radio-button>
	    </template>
	</paper-radio-group>
	<content></content>
	<style>
	 .radiolabel{
	     padding-left:5px;
	     margin-bottom:10px;
	     display:block;
	 }
	 paper-radio-button{
	     display:block;
	 }
	</style>
    </template>
    <script>
     /*
	In this version of MaximoPlus, rendering is closely tied to the Google Closure library, and there is no way to split element creation from attaching it to DOM in Closure. In Polymer however, we need to use the Polymer.dom.attach to attach the radio button, or it will not work. In the MaximoPlus 1.1 vesion, this is solved, because Closure will not be used in the main library(just optionally as a refrence),and you can use any function to attach the created dom, but that is still in alpha. Here we need to use the workaround, the action PolymerRadioButton DOM will not be visible, and the Polymer element will be used in parallel
     */
     PolymerRadioButton=function(metadata, pickerKeyCol, pickerCol, noRows){
	 maximoplus.controls.RadioButton.call(this, metadata,pickerKeyCol, pickerCol, noRows);
     }

     goog.inherits(PolymerRadioButton, maximoplus.controls.RadioButton);

     PolymerRadioButton.prototype.getPickerList = function(column, listContainer, pickerKeyCol, pickerCol, noRows){
	 return new PolymerRadioButtonList(column, listContainer, pickerKeyCol, pickerCol, noRows);
     }

     PolymerRadioButton.prototype.createComponentDom = function(){
	 var label=this.metadata.title;
	 var el = document.createElement("div");
	 el.innerHTML = "<max-radio-button coltitle='"+label+"'></max-radio-button>";
	 var retEl =el.children[0];
	 retEl.controlRef=this;
	 this.refEl=retEl;
	 return retEl;
     }

     PolymerRadioButton.prototype.displayPickerHeader = function(metadata){
	 //TODO add the label through the  template
     }

     PolymerRadioButtonList=function(column, container, pickerKeyCol, pickerCol, noRows){
	 maximoplus.controls.RadioButtonList.call(this, column, container, pickerKeyCol, pickerCol, noRows);
     }

     goog.inherits(PolymerRadioButtonList, maximoplus.controls.RadioButtonList);

     PolymerRadioButtonList.prototype.getRowControl = function(row, disprow){
	 return new PolymerRadioButtonItem(this.container, this.pickerkeycol, this.pickercol, row, disprow);
     }

     PolymerRadioButtonList.prototype.listenListAction = function(callback){
	 this.getElement().addEventListener("change", callback);
     }

     PolymerRadioButtonList.prototype.getRowControlFromEvent = function(ev){
	 return ev.target.controlRef;
     }

//     PolymerRadioButtonList.prototype.createMainListDom = function(){
//	 return document.createElement("paper-radio-group");
//     }

     PolymerRadioButtonItem = function(container, pickerkeycol, pickercol, mxrow, disprow){
	 maximoplus.controls.RadioButtonItem.call(this, container, pickerkeycol, pickercol, mxrow, disprow);
     }

     goog.inherits(PolymerRadioButtonItem, maximoplus.controls.RadioButtonItem);

     PolymerRadioButtonItem.prototype.createComponentDom = function(){
	 this.getParent().picker.refEl.push("radiobuttons",{name:this.getId()});
	 //again polymer function is required becuase of the data binding
	 return document.createElement("div");//dummy value, see the commnents at the start of the file
     }

     PolymerRadioButtonItem.prototype.getActiveDom = function(){
	 return this.getElement();
     }

     PolymerRadioButtonItem.prototype.pick =function(){
	 this.getParent().picker.refEl.$.rgrp.selected=this.getId();
     }

     PolymerRadioButtonItem.prototype.unpick=function(){
	 //no need for unpicking, selected value is on the paper-group
     }

     PolymerRadioButtonItem.prototype.listenListAction=function(listenF){
	 //now we have the separate Polymer Radio button and invisible Maximo radio button as discussed. We need to call the listen function when the polymer change, and we need to call it with this as Maximo List Item.
	 var polRbData = this.getParent().picker.refEl.radiobuttons[this["mxrow"]];
	 polRbData.maximoItem = this;
	 polRbData.maximoListenF = listenF;
     }

     PolymerRadioButtonItem.prototype.setRowPickerValue = function(value){
	 this.getParent().picker.refEl.radiobuttons[this["mxrow"]].value=value;
     }
     Polymer({
	 is:'max-radio-button',
	 properties:{
	     coltitle:String,
	     metadata:Object,
	     radiobuttons:{
		 type:Array,
		 value:[]
	     }
	 },
	 ready:function(){
	     this.radiobuttons=[];
	     //for some misterious reason chrome keeps the old array even for the new element.
	 },
	 radioChange:function(e){
	     var id = e.model.item.name;
	     for (var j=0;j<this.radiobuttons.length;j++){
		 if (this.radiobuttons[j].name==id){
		     var func = this.radiobuttons[j].maximoListenF;
		     var obj = this.radiobuttons[j].maximoItem;
		     func.call(obj);
		 }
	     }
	     console.log("radiochange");
	     console.log(this);
	 }
     })
    </script>
</dom-module>
