<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/paper-item.html">

<dom-module id="max-combobox">
  <template>
      <paper-dropdown-menu label="[[coltitle]]">
	  <paper-listbox id="lbox" class="dropdown-content">
	      <content></content>
	  </paper-listbox>
    </paper-dropdown-menu>
  </template>
  <script>
   PolymerComboBox = function (metadata, pickerkeycol, pickercol, numrows){
       PolymerTextField.call(this, metadata);
       var picker = new PolymerComboBoxPicker(metadata, pickerkeycol, pickercol, numrows);
       picker.parentField=this;
       this.pickerControl=picker;
   }

   goog.inherits(PolymerComboBox, PolymerTextField);

   PolymerComboBox.prototype.createComponentDom = function(){
       var label=this.metadata.title;
       var el = document.createElement("div");
       el.innerHTML = "<max-combobox coltitle='" + label + "' coltype='"+this.metadata.maxType+"'></max-combobox>";
       var retEl= el.children[0];
       retEl.controlRef=this;
       retEl.metadata=this.metadata;
       this.refEl=retEl;
       return retEl;
   }

   PolymerComboBoxPicker = function(metadata, pickerkeycol, pickercol, norows){
       maximoplus.controls.AbstractPicker.call(this, metadata, pickerkeycol, pickercol, norows);
   }

   goog.inherits(PolymerComboBoxPicker, maximoplus.controls.AbstractPicker);

   PolymerComboBoxPicker.prototype.getPickerList = function(column, listcon, pickerkeycol, pickercol, norows){
       return new PolymerComboBoxPickerList(column, listcon, pickerkeycol, pickercol, norows);
   }

   PolymerComboBoxPicker.prototype.getParent = function(){
       return this.parentField.getParent();
   }

   PolymerComboBoxPickerList = function(column, container, pickerkeycol, pickercol, norows){
       maximoplus.controls.PickerList.call(this, column, container, pickerkeycol, pickercol, norows);
   }

   goog.inherits(PolymerComboBoxPickerList, maximoplus.controls.PickerList);

   PolymerComboBoxPickerList.prototype.createMainListDom = function(){
       return this.parentElement.refEl.$.lbox;
   }

   PolymerComboBoxPickerList.prototype.getRowControl = function(row, disprow){
       return new PolymerComboBoxPickerListItem(this.container, this.pickerkeycol, this.pickercol, row, disprow);
   }

   PolymerComboBoxPickerList.prototype.renderRow = function(row){
       row.renderDeferred(this.getElement());
   }

   PolymerComboBoxPickerList.prototype.listenListAction = function(callback){
       var that=this;
       PolymerGestures.addEventListener(this.getElement(), "tap", function(ev){
	   callback.call(this,ev);
       });
   }

   PolymerComboBoxPickerList.prototype.getRowControlFromEvent = function(ev){
       return ev.srcElement.controlRef;
   }

   PolymerComboBoxPickerListItem = function (container, pickerkeycol, pickercol, row,  disprow){
       maximoplus.controls.PickerListItem.call(this, container, pickerkeycol, pickercol, row, disprow);
   }

   goog.inherits(PolymerComboBoxPickerListItem, maximoplus.controls.PickerListItem);

   PolymerComboBoxPickerListItem.prototype.createComponentDom = function(){
       var el=document.createElement("paper-item");
       el.controlRef=this;
       return el;
   }

   PolymerComboBoxPickerListItem.prototype.getActiveDom = function(){
       return this.getElement();
   }

   PolymerComboBoxPickerListItem.prototype.pick=function(){}
   PolymerComboBoxPickerListItem.prototype.unpick=function(){}

   PolymerComboBoxPickerListItem.prototype.setRowPickerValue = function(value){
       this.getElement().innerHTML = value;
   }

    Polymer({
	is:'max-combobox',
	properties:{
	    coltitle:String,
	    coltype:String,
	    metadata:Object
	}
    });
  </script>
</dom-module>
