<link rel="import" href="max-list-item.html">
<link rel="import" href="../../iron-scroll-threshold/iron-scroll-threshold.html">

<dom-module id="max-list">
    <template>
	<iron-scroll-threshold id="scrollThreshold" on-lower-threshold="loadMoreData">
	    <div id="listcont" columns="[[columns]]"></div>
	    <content id="templateholder"></content>
	</iron-scroll-threshold>
	<style>

	</style>
    </template>
    <script>
     PolymerList = function(container, columns, norows){
	 maximoplus.controls.AbstractGrid.call(this, container, columns, norows);
     }

     goog.inherits(PolymerList, maximoplus.controls.AbstractGrid);

     PolymerList.prototype.gridToolbar=function(){}

     PolymerList.prototype.listenSelectAction = function(selectF){
	 this.selectF=selectF;
     }

     PolymerList.prototype.getRowControl=function(mxrow, disprow){
	 return new PolymerListItem(this.container, this.columns, mxrow, disprow,this.isQbe, this.refEl.template);
     }

     PolymerList.prototype.getToolbar = function(){}
     PolymerList.prototype.getQbeRow = function(){}
     PolymerList.prototype.getLabelRow=function(){}
     PolymerList.prototype.qbeRow=function(){}
     PolymerList.prototype.headerRow=function(){}
     PolymerList.prototype.mainGridFrame=function(){}

     PolymerList.prototype.createComponentDom = function(){
	 //  return this.refEl.$.maxList;
	 return document.createElement("div");
     }

     PolymerList.prototype.getRowContainer = function(){
	 return this.getElement();
     }

     PolymerList.prototype.setIsQbe = function(isqbe){
	 //max-list is created from the max-list-dialog and the arbitrary template, and hence it doesn't inherit the attribute isqbe from it. We call this when getSelectableGrid on dialog is called to het the fab

     }

     PolymerList.prototype.prepareCall = function(command, eventTarget){
	 if (command!="fetch"){
	     return;
	 }
	 this.waiting=true;
	 var that=this;
	 setTimeout(1000,function(){
	     if (that.waiting){
		 maximoplus.core.globalDisplayWaitCursor();
	     }
	 });
     }

     PolymerList.prototype.finishCall = function(command, eventTarget){
	 if (command!="fetch"){
	     return;
	 }
	 this.waiting=false;
	 maximoplus.core.globalRemoveWaitCursor();
     }

     Polymer({
	 is:'max-list',
	 properties:{
	     maxcontainer:String,
	     container:String,
	     columns:String,
	     norows:String,
	     templaterefid:String,
	     inddetails:String
	 },
	 created:function(){
	     console.log("max-list created");
	 },
	 attached:function(){
	     if (this.list){
		 return;
	     }
	     var _cont = document.getElementById(this.container);
	     var cont=null;
	     if (this.maxcontainer){
		 /*
		  * The difference between maxcontainer and the container property: container is the DOM id of the Polymer Container, and the maxcontainer is the id of the MaximoPlus Container. The latter is used when the container is created automatically and passed to the Polymer, i.e. when creating the Lookup and Qbe lists. It is called from the outer components (max-list-dialog), and the container should be passed to the max-list. Passing of the complex object(and data binding) in Polymer during the creation of the objects proves to be difficult, so we data-bind just the id, and use MaximoPlus utility function from below as a helper
		  */
		 cont=maximoplus.controls.getContainerById(this.maxcontainer);
	     }else if (_cont && _cont.maxContainer){
		 cont=_cont.maxContainer;
	     }
	     if (!cont){
		 throw new Error("Container not defined, can't instantiate max-list");
	     }

	     this.list = new PolymerList(cont, this.columns.split(","), parseInt(this.norows));
	     if (this.inddetails){
		 this.list.detailsPage=this.inddetails;
	     }
	     this.list.refEl=this;
	     this.list.renderDeferred(this.$.listcont);
	     this.list.initData();
	     if (this.templaterefid){
		 this.template=document.getElementById(this.templaterefid);
	     }else{
		 this.template=this.getEffectiveChildren()[0];
	     }

	 },
	 loadMoreData:function(){
	     this.list.fetchMore(5);
	     var that=this;
	     this.list.getContainer().afterFetch(function(){
		 that.$.scrollThreshold.clearTriggers();
	     });
	 }
     });
    </script>
</dom-module>
