<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../neon-animation/animations/fade-out-animation.html">

<dom-module id="max-error-message">
    <template>
	<paper-dialog id="errorDialog" opened="[[errordialopen]]" modal
		      entry-animation="scale-up-animation"
		      exit-animation="fade-out-animation">
	    <h2>[[errortitle]]</h2>
	    <div id="errtxt">[[errormessage]]</div>
	    <paper-button on-tap="closeDialog">Close</paper-button>
	</paper-dialog>
    </template>
    <script>
     Polymer({
	 is:"max-error-message",
	 properties:{
	     errordialopen:{
		 type:Boolean,
		 value:false
	     },
	     errortitle:String,
	     errormessage:String
	 },
	 ready:function(){
	     var that=this;
	     maximoplus.core.globalFunctions.handleErrorMessage = function(text,optEventTarget){
		 that.errortitle="Error";
		 that.errormessage=text;
		 that.errordialopen=true;
	     }
	 },
	 closeDialog:function(){
	     this.errordialopen=false;
	 }
     });
    </script>
</dom-module>
