<link rel="import" href="../../paper-checkbox/paper-checkbox.html">

<dom-module is="max-checkbox">
    <template>
	<paper-checkbox on-change="changeHandler">[[coltitle]]</paper-checkbox>
    </template>
    <script>
     PolymerCheckBox =  function(metadata,id){
	 maximoplus.controls.CheckBox.call(this, metadata,id);
     }

     goog.inherits(PolymerCheckBox, maximoplus.controls.CheckBox);

     PolymerCheckBox.prototype.createComponentDom = function(){
	 var el = document.createElement("div");
	 el.innerHTML = "<max-checkbox coltitle='"+this.metadata.title+"'></max-checkbox>";
	 var retEl =el.children[0];
	 retEl.controlRef = this;
	 this.refEl=retEl;
	 return retEl;
     }

     PolymerCheckBox.prototype.addListeners = function(){}

     PolymerCheckBox.prototype.getActiveDom = function(){
	 return this.refEl;
     }

     PolymerCheckBox.prototype.setEnabled = function(enable){
	 this.refEl.disabled=!enable;
     }
     
     Polymer({
	 is:'max-checkbox',
	 properties:{
	     coltitle:String
	 },
	 changeHandler:function(event,detail,sender){
	     this.controlRef.changeMaximoValue(sender.checked?"Y":"N");
	 }
	 
     });
    </script>
</dom-module>
