<link rel="import" href="../../iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../paper-spinner/paper-spinner.html">

<dom-module id="max-wait-spinner">
    <template>
	<paper-spinner id="spinner" active></paper-spinner>
	<style>
	 :host{
	     position: fixed;
	     top: 0;
	     left: 0;
	     width: 100vw;
	     height: 100vh;
	 }
	 #spinner{
	     opacity:1;
	     margin-left: 45vw;
	     margin-top: 50vh;
	 }
	</style>
    </template>
    <script>
     Polymer({
	 is:"max-wait-spinner",
	 properties:{
	     spinneropen:{
		 type:Boolean,
		 value:false
	     }
	 },
	 behaviors: [
	     Polymer.IronOverlayBehavior
	 ],
	 ready:function(){
	     var that=this;
	     maximoplus.core.globalFunctions.globalDisplayWaitCursor=function(){
		 that.opened=true;
	     }

	     maximoplus.core.globalFunctions.globalRemoveWaitCursor=function(){
		 that.opened=false;
	     }
	 }
	 
     });
    </script>
</dom-module>
