<link rel="import" href="../../paper-toast/paper-toast.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../paper-tabs/paper-tabs.html">
<link rel="import" href="../../paper-tabs/paper-tab.html">
<link rel="import" href="../../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html">

<dom-module is="max-workflow">
    <template>
	<paper-header-panel class="layout vertical">
	    <paper-toolbar class="medium">
		<!-- flex class forces span to fill space between icons -->
		<span class="flex">Workflow</span>
		<!-- icon displays at right because of span class above -->
		<paper-icon-button icon="close" on-tap="closeWF"></paper-icon-button>[[wfTitle]]

	    </paper-toolbar>
	    <section id="workflow" class="flex">
		<div id="section"></div>
		<div class="horizontal layout end-justified" id="buttons">
		    <template is="dom-repeat" items="{{buttons}}" >
			<paper-button raised role="button" tabindex="0" on-tap="buttonAction">
			    {{item.label}}
			</paper-button>
		    </template>
		</div>
		<paper-toast id="warnings" text="{{warningsText}}"></paper-toast>
		<paper-dialog id="errorDialog" heading="{{errorTitle}}">
		    <div id="mm">{{errorText}}</div>
		    <paper-button dismissive>Close</paper-button>
		</paper-dialog>
	    </section>

	</paper-header-panel>
	<style include="iron-flex"></style>
	<style>

	 :host{
	     position: fixed;
	     top: 0;
	     left: 0;
	     right: 0;
	     bottom: 0;
	     padding: 0;
	     margin: 0; 
	 }
	 paper-header-panel{
	     --paper-header-panel-body:{
		 background:white;
	     }
	 }
	</style>
    </template>
    <script>
     
     PolymerWorkflowControl = function(appContainer,processName){
	 maximoplus.controls.WorkflowControl.call(this, appContainer, processName);
     }

     goog.inherits(PolymerWorkflowControl, maximoplus.controls.WorkflowControl);

     PolymerWorkflowControl.prototype.getWfDialog = function(){}

     PolymerWorkflowControl.prototype.setWarnings = function(warnings, body, title){
	 // the easiest way to do it is to put the template placeholder in the workflow.html
	 console.log("setting the workflow warnings "+ body+" .."+ title);
	 if (warnings && warnings.length){
	     var warnText="";
	     for (var j=0;j<warnings.length;j++){
		 warnText=warnText+warnings[j]+" ";
	     }
	     if (!this.refComp.warnEl){
		 var _el = document.createElement("div");
		 _el.innerHTML="<paper-toast text='"+warnText+"' opened></paper-toast>";
		 this.refComp.warnEl=_el.firstElementChild;
		 document.body.appendChild(this.refComp.warnEl);
	     }else{
		 this.refComp.warnEl.text=warnText;
		 this.refComp.warnEl.opened=true;
	     }
	 }
	 if(body){
	     this.refComp.errorTitle=title;
	     this.refComp.errorText=body;
	     this.refComp.$.errorDialog.toggle();
	 }
     }

     PolymerWorkflowControl.prototype.setWfDialogTitle = function(dialog, title){
	 //same thing as above
	 this.refComp.wfTitle=title;
     }

     PolymerWorkflowControl.prototype.wfFinished=function(){
	 this.refComp.closeWF();
     }

     PolymerWorkflowControl.prototype.cancelWf=function(){
	 this.refComp.closeWF();
     }

     PolymerWorkflowControl.prototype.addWfDialogAction = function(dialog, f , label, key){
	 //again, the template to the rescue, but now we will have the repeat template with buttons
	 this.refComp.push("buttons",{label:label, action:f});
     }

     PolymerWorkflowControl.prototype.addWfMemoGrid = function(dilaog, memoContainer){
	 this.refComp.memoContainer=memoContainer;
     }

     PolymerWorkflowControl.prototype.addWfSectionToDialog = function(dialog, section){
	 Polymer.dom(this.refComp.$.section).innerHTML="";
	 section.renderDeferred(this.refComp.$.section);
     }

     PolymerWorkflowControl.prototype.getWfSection  = function(container, objectName, inputFields){
	 //the purpose of this is to put the user-defined section (here the polymer section in the workflow control
	 //we will follow the example already developed  in the Topcoat workflow control
	 this.refComp.opened=true;
	 this.refComp.buttons=[];//if the user clicks on reassign	 
	 var s = new PolymerSection(container, inputFields);
	 s.createField = function (metadata){
	     var attrName = metadata.attributeName;
	     if (attrName == "ACTIONID"){
		 return new PolymerRadioButton(metadata, "actionid", "instruction",10);
	     }
	     return new PolymerTextField(metadata);
	 }
	 if (objectName == "REASSIGNWF"){
	     s.addMeta("assignee", "hasLookup",true);
	     s.addMeta("assignee", "lookupicon","search");
	     s.addMeta("assignee", "lookupTemplateId","personlist");
	     s.addMeta("assignee","listColumns","personid,displayname,primaryphone.phonenum");
	     //zavrsi sve ostalo pa na kraju uradi da moze da se template direktno dodeli listi

	 }
	 return s;
     }
	 Polymer({
	     is:"max-workflow",
	     properties:{
		 wfTitle:String,
		 errorTitle:String,
		 errorText:String,
		 warningsText:String,
		 appContainer:String,
		 processName:String,
		 buttons:{
		     type:Array,
		     value:[]
		 },
		 memoContainer:Object
	     },
	     behaviors:[Polymer.IronOverlayBehavior],
	     listeners:{
		 "iron-overlay-closed":"_handleOvelayClosed"
	     },
	     _handleOvelayClosed:function(ev){
		 //we have to wait for the workflow dialog to close to display the warnings and errors, otherwise the notifications will be removed immediately by Polymer
		 if (this.warningsText){
		     if (!this.warnEl){
			 var _el = document.createElement("div");
			 _el.innerHTML="<paper-toast text='"+this.warningsText+"' opened></paper-toast>";
			 this.warnEl=_el.firstElementChild;
			 document.body.appendChild(this.warnEl);
		     }else{
			 this.warnEl.text=this.warningsText;
			 this.warnEl.opened=true;
		     }
		     
		     
		 }

		 
		 if(this.loginok){
		     document.location.reload();
		 }
	     },
	     openWF:function(){
		 var cont=document.getElementById(this.appContainer);
		 if (!(cont && cont.maxContainer)){
		     log.console("No container,  Workflow Component not initialized");
		     return;
		 }
	//	 this.opened=true; //it will open when the section is drawm
		 this.wfControl = new PolymerWorkflowControl(cont.maxContainer, this.processName);
		 this.wfControl.refComp = this;
		 //no need to render the workflow control, just to route it
		 this.wfControl.routeWf();
		 
	     },
	     closeWF:function(){
		 this.opened=false;
		 this.wfControl=null;
		 Polymer.dom(this.$.section).innerHTML="";
		 this.buttons=[];
	     },
	     buttonAction:function(e){
		 e.model.item.action.call(this);
	     }
	 });
    </script>
</dom-module>
