<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../neon-animation/animations/fade-out-animation.html">

<dom-module id="max-login-dialog">
    <template>
	<paper-dialog id="loginDialog" opened="[[loginopen]]" modal
		      entry-animation="scale-up-animation"
		      exit-animation="fade-out-animation">
	    <h2>Sign in</h2>
	    <div id="fieldsection">
		<paper-input label="User Name" id="username"></paper-input>
		<paper-input label="Password" type="password" id="password"></paper-input>
	    </div>
	    <template is="dom-if" if="[[loginerror]]">
		<div id="errortext">Invalid User Name or Password</div>
	    </template>

	    <paper-button on-tap="login">Login</paper-button>
	</paper-dialog>
	<style>
	  #errortext{
	      color:red;
	      
	  }
	</style>
    </template>
    <script>
     Polymer({
	 is:"max-login-dialog",
	 properties:{
	     loginopen:{
		 type:Boolean,
		 value:false
	     },
	     loginok:{
		 type:Boolean,
		 value:false
	     },
	     logginerror:{
		 type:Boolean,
		 value:false
	     }
	 },
	 listeners:{
	     "iron-overlay-closed":"_handleOvelayClosed"
	 },
	 _handleOvelayClosed:function(ev){
	     //wait for animation to finish before calling the Maximo, to avoid drawing during the animation
	     if(this.loginok){
		 document.location.reload();
	     }
	 },
	 attached:function(){
	     var that=this;
	     maximoplus.core.globalFunctions.global_login_function = function(){
		 that.loginopen=true;
	     }
	 },
	 login:function(ev,details,sender){
	     var that=this;
	     that.loginok=false;
	     maximoplus.core.max_login(this.$.username.value,this.$.password.value,
				       function(ok){
//					   maximoplus.core.page_init();
					   that.loginopen=false;
					   that.loginerror=false;
					   that.loginok=true;//successfully logged in
				       },
				       function(err){
					   that.loginerror=true;
				       }
	     );
	 }
     });
    </script>
</dom-module>
