<link rel="import" href="../../paper-fullscreen-dialog/paper-fullscreen-dialog.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<dom-module is="max-list-dialog">
    <template>
	<paper-fullscreen-dialog id="dialog" on-iron-overlay-closed="_removeTheDialog">
	   <paper-toolbar class="toolbar">
        <paper-icon-button icon="arrow-back" on-tap="toggle"></paper-icon-button>
        <div class="title">Back</div>
      </paper-toolbar>
	    <max-list id="listel" norows="30" maxcontainer="[[container]]" columns="[[columns]]" templaterefid="[[templateid]]"></max-list>
	    <template is="dom-if" if="[[isqbe]]">
		<div class="fabqbe">
		    <paper-fab class="confirm" on-tap="confirmQbe" icon="done-all"></paper-fab>
		</div>
	    </template>
	</paper-fullscreen-dialog>
	<style>
	 paper-fullscreen-dialog{
	     position: fixed;
	     top: 0;
	     left: 0;
	     right: 0;
	     bottom: 0;
	     padding: 0;
	     margin: 0; 
	 }

	 .fabqbe{
	     position:fixed;
	     bottom:10px;
	     right:10px;
	 }
	</style>
    </template>
    <script>
     PolymerListDialog = function(container, listContainer, field, dialogcols, templateId){
	 maximoplus.controls.AbstractListDialog.call(this, container, listContainer, field, dialogcols);
	 //templateId is the new field used to render the template with the content
	 this.templateid = templateId;
	 this.listContainer=listContainer;
     }

     goog.inherits(PolymerListDialog, maximoplus.controls.AbstractListDialog);

     PolymerListDialog.prototype.drawGridInDialog=function(listContainer, listGrid){}

     PolymerListDialog.prototype.getSelectableGrid = function(listContainer, dialogCols, selectableF){
	 this.refEl.$.listel.list.selectableF=selectableF;
	 return this.refEl.$.listel.list;
     }

     PolymerListDialog.prototype.closeListDialog=function (){
        this.opened=false;
	    this.refEl.$.dialog.close();
     }

     PolymerListDialog.prototype.drawDialog = function(){
	 var el = document.createElement("div");
	 el.innerHTML = "<max-list-dialog templateid='"+this.templateid+"' columns='"+this.dialogcols+"' container='"+this.listContainer.getId()+"' "+(this.isQbe?"isqbe":"")+" />";
	 var retEl = el.firstElementChild;
	 this.refEl=retEl;
	 retEl.containerobj=this.listContainer;
//	 Polymer.dom(this.field.refEl.$.dialogplaceholder).innerHTML="";
	 //	 Polymer.dom(this.field.refEl.$.dialogplaceholder).appendChild( retEl );
	 /*
	    We had to append the dialog to the body, because if we nest the dialog like in the code below, and the field is already in the dialog, the opened dialog list will not be clickable for the second level dialog
	 */
	 Polymer.dom(document.body).appendChild(retEl);
	 this.refEl.toggle();
     }

     PolymerQbeListDialog = function(container, listContainer, field, dialogcols, templateId){
	 maximoplus.controls.AbstractQbeListDialog.call(this, container, listContainer, field, dialogcols);
	 this.templateid=templateId;
	 this.dialogcols=dialogcols;
	 this.listContainer=listContainer;
     }

     goog.inherits(PolymerQbeListDialog, maximoplus.controls.AbstractQbeListDialog);

     PolymerQbeListDialog.prototype.drawDialog = function(){
	 this.isQbe=true;
	 var el=PolymerListDialog.prototype.drawDialog.call(this);
     }

     PolymerQbeListDialog.prototype.drawGridInDialog=function(){}

     PolymerQbeListDialog.prototype.closeListDialog = function(){
	 PolymerListDialog.prototype.closeListDialog.call(this);
     }

     PolymerQbeListDialog.prototype.getSelectableGrid = function(listContainer, dialogCols, selectableF){
	 var dialogGrid = PolymerListDialog.prototype.getSelectableGrid.call(this, listContainer, dialogCols, selectableF);
	 dialogGrid.isQbe=true;
	 dialogGrid.setIsQbe(true);
	 return dialogGrid;
     }

     Polymer({
	 is:'max-list-dialog',
	 properties:{
	     container:String,
	     templateid:String,
	     columns:String,
	     isqbe:Boolean,
	     opened:{
	         type:Boolean,
	         value:false
	     }  
	 },
	 created:function(){
	     console.log("max-list-dialog created");
	 },
	 toggle:function(){
	     if (!this.opened){
	         this.$.dialog.open();
	         this.opened=true;
	     }else{
	         this.$.dialog.close();
	         this.opened=false;
	     }
	 },
	 confirmQbe:function(){
	     this.toggle();
	 },
	 _removeTheDialog:function(){
	     Polymer.dom(document.body).removeChild(this);
	 }
     });
    </script>
</dom-module>
