<link rel="import" href="text-field.html">
<link rel="import" href="max-checkbox.html">
<link rel="import" href="max-radio-button.html">
<link rel="import" href="max-combobox.html">
<link rel="import" href="column-lookup.html">
<link rel="import" href="column-picker.html">
<link rel="import" href="column-meta.html">
<link rel="import" href="../../paper-fab/paper-fab.html">

<dom-module id="max-section">
    <template>
	<div id="section" columns="[[columns]]"></div>
	<template is="dom-if" if="[[qbe]]">
	    <div class="fab-search">
		<paper-fab class="clear" on-tap="clearQbe" icon="clear"></paper-fab>
		<paper-fab class="search" on-tap="search" icon="search"></paper-fab>
	    </div>
	</template>
	<content></content>
    </template>
    
    <style>
     :host{
	 display:block;
     }
     paper-fab.clear{
	 --paper-fab-background: var(--paper-light-blue-500);
	 margin-bottom:10px;
     }
     .fab-search{
	 position:fixed;
	 bottom:10px;
	 right:10px;
     }
    </style>
    <script>
     PolymerSection = function(container, columns){
	 maximoplus.controls.Section.call(this, container, columns);
	 this.searchPromise = Promise.resolve("start");
	 this.searchPromiseResolver = function(_){};//dummy init functions
	 //this will be used just in qbe search, I put it here just for the sake
	 //of simplicity
     }

     goog.inherits(PolymerSection, maximoplus.controls.Section);

     PolymerSection.prototype.createField = function(colMetadata){
	 if (colMetadata.ispicker && colMetadata.pickerType=="radio"){
	     return new PolymerRadioButton(colMetadata, colMetadata.pickerkeycol, colMetadata.pickercol, parseInt(colMetadata.pickerrows));
	 }
	 if (colMetadata.ispicker && colMetadata.pickerType=="combo"){
	     return new PolymerComboBox(colMetadata, colMetadata.pickerkeycol, colMetadata.pickercol, parseInt(colMetadata.pickerrows));
	 }
	 if (colMetadata.maxType=="YORN"){
	     return new PolymerCheckBox(colMetadata);
	 }
	 return new PolymerTextField(colMetadata);
     }

     PolymerQbeSection = function(container,columns){
	 maximoplus.controls.QbeSection.call(this, container, columns);
	 this.searchPromise = Promise.resolve("start");
	 this.searchPromiseResolver = function(_){};//dummy init functions
     }

     goog.inherits(PolymerQbeSection, maximoplus.controls.QbeSection);

     PolymerQbeSection.prototype.createField = function(colMetadata){
	 return new PolymerQbeField(colMetadata);
     }

     Polymer({
	 is:'max-section',
	 properties:{
	     container:String,
	     columns:String,
	     qbe:Boolean,
	     quasiMeta:{
		 type:Object,
		 value:{}
	     },
	     inddetails:String
	     /*If the parent is the iron-pages, this is the details page
	      */
	 },
	 attached:function(){
	     if (this.section){
		 return;
	     }
	     var cont=document.getElementById(this.container);
	     if (!(cont && cont.maxContainer)){
		 return;
	     }
	     var qbeCols=[];
	     if (this.quasiMeta){
		 for (var c in this.quasiMeta){
		     if (this.quasiMeta[c]["qbePrepend"]){
			 qbeCols.push(c);
		     }
		 }
	     }
	     var cols=this.columns.split(",");
	     for (var j=0;j<qbeCols.length;j++){
		 var ind =cols.indexOf(qbeCols[j]);
		 if (ind!=-1){
		     cols.splice(ind,1,this.quasiMeta[qbeCols[j]]);
		 }
	     }
	     this.section = (typeof this.qbe != "undefined") ? new PolymerQbeSection(cont.maxContainer, cols) : new PolymerSection(cont.maxContainer, this.columns.split(","));
	     this.section.refEl=this;

	     //metadata will be inserted in child tags (column-meta or column-lookups), and they will be rendered after max-section.  Therefore it is not possible to insert metadata there directly, and we use the meta attribute to transfer the meta to section.We insert the metadata in meta attributes there, and here we actually call the maximopluses addmeta
	     if (this.meta){
		 for (var c in this.meta){
		     for (var cc in this.meta[c]){
			 this.section.addMeta(c,cc, this.meta[c][cc]);
		     }
		 }
	     }
	     this.maxEl=this.section;//common for all the elements:section , list ...
	     this.section.renderDeferred(this.$.section);
	     this.section.initData();

	 },
	 clearQbe:function(){
	     this.maxEl.clearQbe();
	 },
	 search:function(){
	     if (this.inddetails){
		 //if this property is set, it is assumed that the parent element is core pages, and this is the details we go to after the paeg
		 //TODO if there are transitions included, listen for the transition end befor the actual resetControl is called
		 //new - all the navigation done by router
		 window.location=this.inddetails;
		 //this.parentElement.selected=this.inddetails;
	     }
	     //workaround, because the change event in text field is fired after the tap event on the button, we have to wait fist for the change event to finish
	     var that=this.maxEl;
	     that.searchPromise.then(
		 function(ok){
		     that.resetControl();
		 });
	 }
     });
    </script>
</dom-module>

