<link rel="import" href="../../vaadin-date-picker/vaadin-date-picker-light.html"/>

<dom-module id="max-date-picker">
    <template>
        <vaadin-date-picker-light id="vaadin" value="{{date}}">
	    <input is="iron-input" id="invi" />
	</vaadin-date-picker-light>
	<style>
	 #dateDialog{
	     margin:0px;
	 }
	 #dateDialog > #picker{
	     padding:0px;
	     margin:0px;
	 }
	 #invi{
	     display:none;
	 }
	</style>
    </template>
    <script>
     Polymer({
	 is:"max-date-picker",
	 properties:{
	     field:Object,
	     date:{
		 type:String,
		 observer:"_dateChanged"
	     }
	 },
	 openDialog:function(){
	     this.date=this.getFieldDate(this.field);
	     this.$.vaadin.open();
	 },
	 getFieldDate:function(field){
	     return new Date(this.field.localValue());
	 },
	 _dateChanged:function(newVal,oldVal){
	     if(!newVal){
		 return;
	     }
	     //	     var maxDate=maximoplus.controls.getDateString(new Date(newVal));
	     var dat=new Date(newVal);
	     this.field.changeMaximoValue(newVal);
	 }
     });
    </script>

</dom-module>
