<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-material/paper-material.html">

<dom-module id="max-list-item">
    <template>
	<div class="layout horizontal center">
	    <paper-item  on-tap="handleTap" touch-action="pan-x pan-y" flex>
		<div id="tmpltfit"></div>
		<content></content>
	    </paper-item>
	</div>
	<style>
	 #tmpltfit{
	     padding:8px;
	     font-size:2.5vh;
	     min-height:10vh;
	 }
	 paper-item{
	     width:100%;
	     border-bottom: 1px;
	     border-bottom-color: #e0dcdc;
	     border-bottom-style: ridge;
	 }
	</style>
    </template>
    <script>
     PolymerListItem = function(container, columns, mxrow, disprow,qbe, template){
	 maximoplus.controls.AbstractLine.call(this, container, columns, mxrow, disprow);
	 this.data={};
	 this.flags={};
	 this.qbe=qbe;
	 this.template=template;
	 //if this list item is used for qbe or not
     }

     goog.inherits(PolymerListItem, maximoplus.controls.AbstractLine);

     PolymerListItem.prototype.createComponentDom = function(){
	 var _el = document.createElement("div");
	 _el.innerHTML = "<max-list-item touch-action='pan-x pan-y' mxrow='"+this.mxrow+"' disprow='"+this.disprow+"'"+(this.qbe?"qbe='true'":"")+"></max-list-item>";
	 var el=_el.firstElementChild;
	 el.controlRef = this;
	 this.refEl=el;
	 return el;
     }

     PolymerListItem.prototype.setRowValue = function(column, value){
	 var modelUpd=this.refEl.modelForElement(this.refEl.$.tmpltfit.firstElementChild);
	 var oldData = modelUpd.data;
	 var newData = Object.assign({},oldData);
	 newData[column]=value;
	 if (column=="_SELECTED"){
	     if (value=="Y"){
		 newData["_CHECKED"]=true;
	     }else{
		 newData["_CHECKED"]=false;
	     }
	 }

	 modelUpd.set("data",newData);
     }

     PolymerListItem.prototype.setRowValues = function(colvals){
	 //we use the nested template to inject the HTML template defined by user
	 var modelUpd=this.refEl.modelForElement(this.refEl.$.tmpltfit.firstElementChild);
	 var newColVals = Object.assign({},colvals);
	 modelUpd.set("data",newColVals);
	 //In this version of MaximoPlus, the colvals is mutable, pointing to the internal data cache that should not be changed. In next version it should be immutable
     }

     PolymerListItem.prototype.setFieldFlag = function(field, flag){
	 //console.log(field);
	 //  console.log("Setting the field flag  to " + flag);
     }

     PolymerListItem.prototype.setFieldFlags = function(colflags){
	 //console.log(colflags);
     }

     PolymerListItem.prototype.setEnabled = function(enable){}

     PolymerListItem.prototype.listenRow = function(selectF){
	 var that=this;
	 this.tapF=selectF;
	 //listening will be done in polymer, we need t
     }

     PolymerListItem.prototype.highlightSelectedRow = function(){
	 //TODO
     }

     PolymerListItem.prototype.unhighlightSelectedRow = function(){
	 //TODO
     }

     Polymer({
	 is: 'max-list-item',
	 behaviors: [
	     Polymer.Templatizer
	 ],
	 properties: {
	     mxrow: String,
	     disprow: String,
	     qbe:String,
	     data: {
		 type:Object,
		 value:{}
	     },
	     flags: {
		 type:Object,
		 value:{}
	     }
	 },
	 attached: function(){
	     this.templatize(this.controlRef.template);
	     var clone = this.stamp({});
	     Polymer.dom(this.$.tmpltfit).appendChild(clone.root);
	     this.modelUpd = this.modelForElement(clone.root);
	 },
	 handleTap:function(){
	     var detailsPage  = this.controlRef.getParent().detailsPage;
	     if (detailsPage){
		 
		 window.location=detailsPage;
	     }
	     this.controlRef.tapF.call(this.controlRef);//calls the MaximoPlus moveTo with the instance of the MaximoPlus control, not polymer control
	 }

     });
    </script>
</dom-module>
