<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link href="../../iron-icons/iron-icons.html" rel="import">
<link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="max-date-picker.html">
<link rel="import" href="max-list-dialog.html">
<style include="iron-flex iron-flex-alignment"></style>

<dom-module id="text-field">
    <template>
	<paper-input id="activedom" label="[[coltitle]]" on-change="changeHandler" on-blur="blurHandler" on-focus="focusHandler">
	    <template is="dom-if" if="[[showlookup]]">
		<paper-icon-button prefix icon="[[lookupicon]]" on-tap="showLookupList">
		</paper-icon-button>
	    </template>
	</paper-input>
	<div id="dialogplaceholder"></div>
	<style>
	 paper-input{
	     padding:6px;
	     margin-bottom:20px;
	     --paper-input-container-disabled: {
		 opacity: 0.55;
	     }
	     --paper-input-container-input: {
		 font-size: 2.5vh;
	     };
	 }
	</style>
    </template>
    <script>
     PolymerTextField =  function(metadata, id){
	 maximoplus.controls.TextField.call(this, metadata, id);
     }

     goog.inherits(PolymerTextField, maximoplus.controls.TextField);

     PolymerTextField.prototype.createComponentDom = function(){
	 var label=this.metadata.title;
	 var maxType = this.metadata.maxType;
	 //we will use here pure HTML5 types for date, number etc
	 var el = document.createElement("div");
	 el.innerHTML = "<text-field coltitle='" + label + "' coltype='"+maxType+"'></text-field>";
	 var retEl= el.children[0];
	 retEl.controlRef=this;
	 retEl.metadata=this.metadata;
	 this.retEl=retEl;
	 this.refEl=retEl;
	 return retEl;
     }

     PolymerTextField.prototype.showLookup= function(){
	 if (this.metadata.gllookup){
	     this.glpicker=new PolymerGLPicker(this,this.metadata.glOrg);
	 }
	 else if (this.metadata.maxType=="DATE" || this.metadata.maxType=="DATETIME"){
	     var el = document.createElement("div");
	     el.innerHTML="<max-date-picker></max-date-picker>";
	     var ell=el.firstElementChild;
	     //	     document.body.appendChild(ell);
	     Polymer.dom(this.refEl.$.dialogplaceholder).innerHTML="";
	     Polymer.dom(this.refEl.$.dialogplaceholder).appendChild( ell );
	     ell.field=this;
		 ell.openDialog()
	 }
	 else{
	     maximoplus.controls.TextField.prototype.showLookup.call(this);
	 }

     }

     PolymerTextField.prototype.getActiveDom = function(){
	 return this.retEl.$.activedom;
     }

     PolymerTextField.prototype.setReadonly = function (readOnly){
	 maximoplus.controls.TextField.prototype.setReadonly.call(this, readOnly);
	 var el=this.getElement();
	 if (readOnly){
	     this.retEl.$.activedom.disabled=true;
	 }else{
	     this.retEl.$.activedom.disabled=false;
	 }
     }

     PolymerTextField.prototype.setFieldValue = function(value){
	 this.retEl.$.activedom.value=value;
     }

     PolymerTextField.prototype.setFocus = function(){
	 this.retEl.$.activedom.focus();
     }

     PolymerTextField.prototype.addLookup = function(){}

     PolymerTextField.prototype.errbackHandler = function (command, error, evTarget){
	 this.replaceFromLocal();
	 this.retEl.$.activedom.focus();
	 var el=this.retEl.$.activedom;
	 el.invalid=true;
	 el.errorMessage=error[0][1];
     }

     PolymerTextField.prototype.addListeners =function(){}

     //we override the original behaviour of MaximoPlus, becuase we want to use the custom polymer event handling. We have to do it because in MaximoPlus code this function internally adds the listener to the parent (Section or Grid), in order to reduce the number of event listeners. Change event however will not bubble in Polymer, it will not pass the component boundary and bubble to the parent.

     PolymerTextField.prototype.getListDialog = function(listContainer, columns){
	 var dialog = new PolymerListDialog(this.getContainer(), listContainer, this, columns, this.metadata.lookupTemplateId);
	 dialog.renderDeferred();
	 return dialog;
     }

     PolymerQbeField = function(metadata,id){
	 maximoplus.controls.QbeField.call(this, metadata,id);
     }

     goog.inherits(PolymerQbeField, maximoplus.controls.QbeField);

     PolymerQbeField.prototype.getActiveDom = function(){
	 return PolymerTextField.prototype.getActiveDom.call(this);
     }

     PolymerQbeField.prototype.createComponentDom = function(){
	 return PolymerTextField.prototype.createComponentDom.call(this);
     }


     PolymerQbeField.prototype.setFieldValue = function(value){
	 //so it shows the floating label once the value is set from back end
	 PolymerTextField.prototype.setFieldValue.call(this,value);
     }

     PolymerQbeField.prototype.getListDialog = function(listContainer, columns){
	 var dialog = new PolymerQbeListDialog(this.getContainer(), listContainer, this, columns, this.metadata.lookupTemplateId);
	 dialog.renderDeferred();
	 return dialog;
     }

     PolymerQbeField.prototype.showLookup = function(){
	 PolymerTextField.prototype.showLookup.call(this);
     }

     PolymerQbeField.prototype.addLookup = function(){}

     PolymerQbeField.prototype.setFocus = function(){
	 this.retEl.$.activedom.focus();
     }

     Polymer({
	 is:'text-field',
	 properties:{
	     coltitle:String,
	     coltype:String,
	     metadata:{
		 type:Object,
		 value:{}
	     },
	     showlookup:{
		 type:Boolean,
		 computed:'_showLookup(metadata)'
	     },
	     lookupicon:{
		 type:String,
		 computed:'_lookupIcon(metadata)'
	     }
	 },
	 changeHandler: function(event, detail, sender) {
	     this.$.activedom.invalid=false;
	     this.controlRef.changeMaximoValue(event.target.value);

	     this.controlRef.getParent().searchPromiseResolver.call("ok");
	     //this overrides the default maximo event handler
	 },
	 blurHandler: function(event,detail,sender){
	     this.$.activedom.invalid=false;
	     this.controlRef.getParent().searchPromiseResolver.call("ok");
	 },
	 focusHandler: function(event,detail,sender){
	     /*
		This is fix for the small issue: on mobile devices, if we tap on the button, it happens that the tap event is fired before the change event in the text field. 
		If the user is using the QBE section, he will not see that he has done any search. We will delay the search in the QBE search after the change or blur has been called
		
		Resolver(a deferred made out of promise)  will be called in change or blur handler
	      */
	     var that = this.controlRef.getParent();
	     that.searchPromise = new Promise(function(resolve,reject){
		 that.searchPromiseResolver=resolve;
	     });
	 },
	 attached: function(){
	     console.log("Field has been created");
	 },
	 showLookupList: function(event, detail, sender){
	     this.controlRef.showLookup();
	 },
	 _showLookup:function(metadata){
	     return metadata.hasLookup;
	 },
	 _lookupIcon:function(metadata){
	     return metadata.lookupicon;
	 }
     });
    </script>
</dom-module>
